html, body {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 100%;

    background: #ffffff;

    border: 0;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    height: 100%;
}

div.container {
    margin: 0 auto;
    width: 600px;

    position: relative;
    top: 10%;
}

header {
    padding: 0 0.2em;

    font-size: 2em;
}

header .links {
    float: right;
}

header, nav {
    border-bottom: 1px solid #000;
}

nav {
    padding: 0.2em 0.5em;
    font-size: 0.9em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
}

nav li:not(:first-child) {
    margin-left: 1em;
}


div.content {
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: #000;
}

header .links a, nav a {
    color: #777;
}

header .links a:hover, nav a:hover {
    color: #000;
}

div.content a {
    background-color: #f0f0f0;
}

div.content a:hover {
    background-color: #bbb;
    color: #fff;
}
