---
---
$white:        #fff;
$black:        #000;
$gray-lighter: #fbfbfb;
$gray-light:   #f5f5f5;
$gray:         #e0e0e0;
$gray-dark:    #848484;
$gray-darker:  #333;
$gray-darkest: #111;

$accent:       #b8e2ef;

$gradient1:    #dbf0f7;
$gradient2:	   #fff;

html {
    overflow-y: auto !important;
}

html, body {
    height: 100%;
    width: 100%;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: $gray-darker;

    scroll-behavior: smooth;
}

html a {
    text-decoration: none;
    color: $gray-darkest;
    transition: all 0.2s ease-in-out;
    border-bottom: .2rem solid $accent;

    &:hover {
        color: $gray-darker;
        background-color: $accent;
        border-bottom: .2rem solid darken($accent, 10);
    }
}

.intro {
    height: 100%;
    width: 100%;
    background: linear-gradient($gradient1, $gradient2);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    &__logo {
        margin-bottom: 1rem;

        img {
            height: 6rem;
        }
    }

    &__name {
        font-family: 'Nixie One', 'Courier New', serif;
        font-weight: 700;
        font-size: 2.25rem;
        color: $gray-darkest;
    }

    &__subtitle {
        text-transform: lowercase;
        color: $gray-dark;
        margin-top: -0.5rem;
    }

    &__social {
        display: flex;
        position: absolute;
        bottom: 1.5rem;
    }

    &__nav {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        a {
            display: block;
            padding: 0.2rem 0.3rem;

            & + a {
                margin-top: 0.5rem;
            }
        }
    }
}

.intro__social,
.footer__social {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;

        text-align: center;
        color: $gray-dark;

        & + a {
            margin-left: 1rem;
        }
    }
}


.section {
    display: flex;
    align-items: center;

    &__title {
        font-family: 'Nixie One', 'Courier New', serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: $gray-darkest;
        margin-bottom: 1.5rem;

        &:not(:first-child) {
            margin-top: 6rem;
        }
    }

    &__body {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

.about {
    @media (max-width: 768px) {
        .columns{
            display: flex;
            flex-direction: column-reverse;
        }

        .about__image {
            margin-top: 1rem;
        }
    }

    &__image {
        &.column {
            display: flex;
            justify-content: center;
        }

        @media (max-width: 768px) {
            .image {
                max-width: 66%;
            }
        }

        @media not all and (max-width: 768px) {
            .image {
                max-width: 20rem;
            }
        }
    }

    &__text.column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p + p {
            margin-top: 1rem;
        }
    }
}

.work {
    background: $gray-lighter;

    &__container.box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        .image img {
            width: auto;
            max-width: 15rem;
            max-height: 3rem;
            margin: auto;
        }

        margin-top: 1rem;
    }

    &__body {
        margin-top: 1rem;
    }


    @media (max-width: 768px) {
        .column + .column {
            margin-top: 1rem;
        }
    }
}

#back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 2.5rem;
    width: 2.5rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: $gray-dark;
    }
}

footer.footer {
    text-align: center;
    background-color: $gradient1;
    color: $gray-dark;

    .footer__social {
        display: inline-flex;
    }
}
