---
---

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #ffffff;
    border: 0;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    height: 100%;
}

div.container {
    margin: 0 auto;
    width: 600px;
    position: relative;
    top: 10%;
}

header {
    padding: 0 0.5rem;
    font-size: 2em;
    position: relative;
    border-bottom: 1px solid #000;

    .name {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
    }

    .links {
        position: absolute;
        right: 0.5rem;
        bottom: 3px;
    }

    .links a, nav a {
        color: #777;

        &:hover {
            color: #000;
        }
    }
}

nav {
    border-bottom: 1px solid #000;
    padding: 0.2em 0.5em;
    font-size: 0.9em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    li {
        display: inline;

        &:not(:first-child) {
            margin-left: 1em;
        }
    }
}

div.content {
    padding: 0 0.5em;
    margin: 1rem 0;

    a {
        background-color: #f0f0f0;

        &:hover {
            background-color: #bbb;
            color: #fff;
        }
    }
}

a {
    text-decoration: none;
    color: #000;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin: 1rem 0;
}

ul {
    &.post-categories {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0.8em;

        li {
            display: inline;

            &:not(:last-child)::after {
                content: ",";
                margin-right: 3px;
            }
        }
    }

    &.posts {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

li.post {
    margin-bottom: 1rem;

    .post-date::after {
        content: " » ";
    }

    .post-info {
        display: inline-block;
        vertical-align: top;
    }
}

.post-info {
    .post-title {
        font-family: 'Roboto Slab', serif;
        font-size: 1.1em;
    }

    .post-categories {
        margin-top: 5px;
    }
}

.pagination, .post-nav {
    border-top: 1px dashed #f0f0f0;
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 0.8em;
}

.prev {
    float: left;

    &::before {
        content: "«";
        margin-right: 3px;
    }
}

.next {
    float: right;

    &::after {
        content: "»";
        margin-left: 3px;
    }
}

ul.other {
    list-style: none;

    li {
        margin-bottom: 20px;

        h3 {
            margin: 0;
        }

        a { 
            float: left;
            clear: both;
            margin-right: 10px;
            background-color: transparent;

            &:hover {
                color: #777;
                background-color: transparent;
            }
        }
    }
}
