---
---
$white:        #fff;
$black:        #000;
$gray-lighter: #fcfcfc;
$gray-light:   #f5f5f5;
$gray:         #e0e0e0;
$gray-dark:    #848484;
$gray-darker:  #333;
$gray-darkest: #111;

$accent:       #b8e2ef;

$gradient1:    #dbf0f7;
$gradient2:	   #fff;

html {
	overflow-y: auto !important;
}

html, body {
	height: 100%;
	width: 100%;

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 100%;
	font-color: $gray-darker;

	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: $gray-darkest;
}

.intro {
	height: 100%;
	width: 100%;
	background: linear-gradient($gradient1, $gradient2);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	text-align: center;

	&__logo img {
		height: 6rem;
	}

	&__name {
		font-family: 'Nixie One', cursive;
		font-weight: 700;
		font-size: 225%;
		color: $gray-darkest;
	}

	&__subtitle {
		text-transform: lowercase;
		color: $gray-dark;
	}

	&__social {
		display: flex;
		position: absolute;
		bottom: 1.5rem;

		font-size: 200%;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.5rem;
			height: 2.5rem;
			transition: all 0.2s ease-in-out;

			text-align: center;
			color: $gray-dark;

			& + a {
				margin-left: 1rem;
			}

			&:hover {
				color: $gray-darker;
				background-color: $accent;
			}
		}
	}
}

section {
	min-height: 100%;
}
