@import "hima/colorschemes/_gruvbox-colors";

.home {
  &__profile-img {
    display: block;
    margin: 0 auto;
    width: 12rem;
    height: auto;
    margin-bottom: 3rem;
    border-radius: 10%;
    border-width: .5rem;
    border-style: solid;

    @media (prefers-color-scheme: light) {
      background: $black3;
      border-color: $white1;
    }

    @media (prefers-color-scheme: dark) {
      background: $white0h;
      border-color: $white0h;
    }
  }
}

.project {
  & + .project {
    margin-top: 4rem;
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      max-width: 4rem;
      height: auto;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
