@import "hima/colourschemes/_gruvbox-colours";

.home {
  &__profile-img {
    display: block;
    margin: 0 auto;
    width: 12rem;
    height: auto;
    margin-bottom: 3rem;
    border-radius: 10%;
    border-width: .5rem;
    border-style: solid;

    @media (prefers-color-scheme: light) {
      background: $black3;
      border-color: $black3;
    }

    @media (prefers-color-scheme: dark) {
      background: $white0h;
      border-color: $white0h;
    }
  }
}

.project {
  & + .project {
    margin-top: 4rem;
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      max-width: 4rem;
      height: auto;
    }
  }
}

.archive {
  &__section {
    & + & {
      margin-top: 4rem;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      display: inline-block;
      margin: 0 2rem .67rem 0;
    }
  }

  &__post-count {
    color: var(--hima-post-meta-colour);
    font-size: .8rem;
  }
}

.minimal-post-list {
  list-style-type: none;
  padding: 0;

  .post__meta {
    font-family: monospace;
    margin-right: 1rem;
  }
}
