{{- define "main" -}}
<div class="w-2xl max-w-full px-(--main-px) sm:px-8" data-pagefind-body>
  <article class="mb-8">
    {{- .Content -}}
  </article>

  {{- with last 1 (site.GetPage "now").Pages.ByDate -}}
  <p>Here's what I'm up to <a href="{{ (index . 0).RelPermalink }}" class="hover:underline">now</a>.</p>
  {{- end -}}

  {{- $essays := where site.RegularPages "Section" "essays" -}}
  {{- $essays = (sort $essays ".Date" "desc") | first 5 -}}
  {{- with $essays -}}
  <section class="mt-12">
    <h2 class="font-headings font-bold text-lg leading-tight mb-4">Recent Essays</h2>

    {{ partial "notes-list.html" $essays }}

    <a href="/essays/" class="inline-block">all essays</a>
  </section>
  {{- end -}}

  {{- $notes := where site.RegularPages "Section" "notes" -}}
  {{- $notes = (sort $notes ".Lastmod" "desc") | first 5 -}}
  {{- with $notes -}}
  <section class="mt-12">
    <h2 class="font-headings font-bold text-lg leading-tight mb-4">Recently Updated Notes</h2>

    {{ partial "notes-list.html" $notes }}

    <a href="/notes/" class="inline-block">all notes</a>
  </section>
  {{- end -}}

</div>
{{- end -}}
