<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Brandon Cardoso</title>

        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <section class="main {{ page.customClass }}">
                <div class="header">
                    {% include header.html %}
                </div>

                <div class="content">
                    {{ content }}
                </div>

                <div class="social">
                    <ul>
                    {% for item in site.data.nav %}
                        <li>
                            <a href="{{ item.url }}" target="_blank">
                                <i class="fa {{ item.icon }}"></i>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </body>
</html>
