<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        {% if page.description or site.description %}
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description }}{% endif %}">
        {% endif %}

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- open graph meta -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}Brandon Cardoso">
        {% if page.description or site.description %}
            <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description }}{% endif %}">
        {% endif %}
        {% if page.image %}
        <meta property="og:image" content="/img/{{ page.image }}">
        {% endif %}

        <!-- twitter meta -->
        {% if site.twitter_handle and (page.description or site.description) %}
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="{{ site.twitter_handle }}">
            <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}Brandon Cardoso">
            {% if page.description or site.description %}
                <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description }}{% endif %}">
            {% endif %}
            {% if page.image %}
            <meta name="twitter:image" content="/img/{{ page.image }}">
                {% if page.image_description %}
                    <meta name="twitter:image:alt" content="{{ page.image_description }}">
                {% endif %}
            {% endif %}
        {% endif %}

        <!-- style/fonts -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nixie+One|Raleway" rel="stylesheet">

        <!-- rss -->
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=YAowGBepEE">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=YAowGBepEE">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=YAowGBepEE">
        <link rel="manifest" href="site.webmanifest?v=YAowGBepEE">
        <link rel="mask-icon" href="safari-pinned-tab.svg?v=YAowGBepEE" color="#000000">
        <link rel="shortcut icon" href="favicon.ico?v=YAowGBepEE">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-config" content="browserconfig.xml?v=YAowGBepEE">
        <meta name="theme-color" content="#ffffff">

        <meta name="google-site-verification" content="k7crY2vXQHL_vxgJyIsk2n5PlXAFD2k3e0jlwn4PhMo">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-87317009-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="main {{ page.customClass }}">
            {% include header.html %}

            <div class="content">
                {{ content }}
            </div>
        </div>
        {% include social.html %}
    </body>
</html>
