<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Brandon Cardoso</title>

        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container vertical-center">
            <header>
                {% include header.html %}
            </header>

            <div class="content">
                {{ content }}
            </div>

            <nav>
                <ul>
                {% for item in site.data.nav %}
                    <li>
                        <a href="{{ item.url }}">
                            <i class="fa {{ item.icon }}"></i>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </div>
    </body>
</html>
