---
layout: default
---
<h3>
    {{ page.title }}
    &nbsp;
    <small class="meta">{{ page.date | date_to_string }}</small>
</h3>
{% if page.categories.size > 0 %}
<ul class="post-categories">
    ({% for category in page.categories %}
        <li>
        <a href="{{ site.category_dir }}/{{ category }}">{{ category }}</a>
        </li>
    {% endfor %})
</ul>
{% endif %}

<div class="post">
    {{ content }}
</div>

<div class="post-nav">
    {% if page.previous %}
    <span class="prev">
        <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    </span>
    {% endif %}
    {% if page.next %}
    <span class="next">
        <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    </span>
    {% endif %}
</div>
