---
layout: default
---
<div class="post-date">{{ page.date | date: site.date_format }}</div>
<div class="post-title"><h3>{{ page.title }}</h3></div>

{% if page.categories.size > 0 %}
<ul class="post-categories">
    {% for category in page.categories %}
    <li>
        <a href="{{ site.category_dir }}/{{ category }}">{{ category }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="post-body">
    {{ content }}
</div>

<div class="post-nav">
    {% if page.previous %}
    <span class="prev">
        <a href="{{ page.previous.url }}">
            <i class="fa fa-caret-left"></i>
            {{ page.previous.title }}
        </a>
    </span>
    {% endif %}
    {% if page.next %}
    <span class="next">
        <a href="{{ page.next.url }}">
            {{ page.next.title }}
            <i class="fa fa-caret-right"></i>
        </a>
    </span>
    {% endif %}
</div>
